<!DOCTYPE html>
<html lang="cs">
  <head>
    

    <title> Začínající sociální síť - Chattr.</title>
 <link rel="shortcut icon" type="image/png" href="uploads/images/Chattr-logo.png">
  <meta http-equiv="Content-Type: text/html" charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chattr. - Začínající sociální síť, kde si můžete psát s kamarády a příspívat příspěvky">
    <meta name="keywords" content="social network, chattr cz, chattr, sociální síť chattr, socialni sit chattr, chatter">
    <meta name="author" content="Tomáš Martin Holub">
    <meta name="author" content="Honza Rössler">
    <meta property="og:title" content="začínající sociální síť  | Síla SEO" />
    <meta property="og:description" content=Chattr. je malá začínající sociální síť, celá síť je i open-source pro větší bezpečnost" />
    <meta property="og:site_name" content="Cattr." />
    <meta property="og:image" content="https://www.chattr.cz/uploads/images/Chattr-logo.png" />
    </head>
  <body>
    <style>
        .panel-buttons h5
        {
            margin:0;
        }
        
        .panel-buttons
        {    
            color: #3F3F3F;
        }
        
        .fr
        {
            float:left;
        }
        
        .panel-invisible
        {
            display:none;
        }
        
        .panel-visible
        {
            display:block;
        }
        
        .panel 
        {
            background-color: white;
        width: 200px;
    top: 57px;
    border-radius: 10px;
    padding: 5px;
    right:20px;
    position:fixed;
        }
        
        .masthead
        {
            top:0px;
            position:fixed;
        }
        
        nav
        {
            padding-left:205px;
        }
        
        .profile
        {
            padding-left:205px;
        }
        
        @media screen and (max-width: 1366px)
        {                  
        
         
        
        }
        
       @media screen and (max-width: 720px)
        {                  
                           nav
        {
            padding-left:0px;
        }
        
        
         
        
        }
       
       .buttons
       {
          
           
      display: flex;
       }
        
       .profile-buttons
        {
            cursor:Pointer;
        display: inline-block;
    float: right;
        }
       
        .normal-buttons
        {
            display: inline-block;
    margin-left: auto;
    margin-right: auto;
        }
        
        textarea
        {
                font-family: Verdana, Arial;

        }
        
        label
        {
            font-weight: bold;
        }
        
        
        body
        {
            overflow-x:auto;
        }
        input[type=submit]
    {
        background-color: white;
        padding:8px 24px;
        border-radius: 15px;
        display:inline-block;
        text-decoration: none;
        color:black;
        border: 5px solid <?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
        outline:none;
    }
    
    input[type=submit]:active { 
    background-color: #8F8F8F;
}
        .like
{
      background:#FF771B;
    border:none;
    padding: 5px 15px;
    border-radius:5px;
    box-shadow: 0px 3px 0 #C75100;
    font-size:14px;
    margin-top:2px;
}

.clickable:active
    {
        text-decoration: bold;
    }

        input[type=text]
        {
            border: 2px solid #aaa;
            border-radius: 7px;
            box-sizing:border-box;
            outline:none;
            padding:7px;
            transition:0.25s;
        }
        
        input[type=email]
        {
            border: 2px solid #aaa;
            border-radius: 7px;
            box-sizing:border-box;
            outline:none;
            padding:7px;
            transition:0.25s;
        }
        
        input[type=password]
        {
            border: 2px solid #aaa;
            border-radius: 7px;
            box-sizing:border-box;
            outline:none;
            padding:7px;
            transition:0.25s;
        }
        
        input[type=password]:focus
        {
            border: 2px solid #FF6700;
            box-shadow: 0 0 8px 0 #FF6700;
        }
      
        input[type=text]:focus
        {
            border: 2px solid <?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
            box-shadow: 0 0 8px 0 <?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
        }
         input[type=email]:focus
        {
            border: 2px solid #FF6700;
            box-shadow: 0 0 8px 0 #FF6700;
        }
        
        a
    {
        text-decoration-line: none;
        
        color:black;
        
    }
    
    a:hover
    {
        color:#b34700;
        
    }
      
    @media screen and (max-width: 593px){
			.navigation-button {
				padding: 16px !important;
			}
		}
		
		@media screen and (max-width: 433px){
			.navigation-button {
				padding: 16px 10px !important;
			}
		}
		@media screen and (max-width: 780px) {
			.no-full {
				display: inherit!important;
			}
			.only-full.nav-full {
				display: none;
			}
		}
		.no-full {
			display: none;
		}
                
                @media screen and (max-width: 644px){
			.bubble {
				margin-left: 0 !important;
				border-right: 0 !important;
			}
		}
    
        body 
{
    
    background:<?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["backgroundColor"]; 
        else
            echo "#f0f0f0"; ?>;
}
        
        textarea
        {
            resize:none;
        }
        
        body
        {
            
               font-family: Verdana, Arial;

            display:inline-block;
            margin:0;
        }
    .masthead
    {
        width:100%;
        display: block;
    
    
    
        height:57px;
        background-color: <?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
    }  
    nav
    {
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
    }
    .text-muted
    {
        margin:0px;
        margin-left:auto;
        margin-right:auto;
        width:100px;
    }
    
    nav li
    {
        list-style: none;
    }
    
    .button
    {
        
        background-color: #FFFAFA;
        padding:11px 24px;
        border-radius: 50px;
        display:inline-block;
        text-decoration: none;
        color:black;
        border: 5px solid black;
    }
    
    .navigation-button
    {
        margin:0;
        background-color: <?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
        padding:16px 32px;
        border-radius: 7px;
        display:inline-block;
        text-decoration: none;
        color:#fffafa; 
    }
    
    .navigation-button:hover
    {
   
    color:black;
    }
    
    .profile
    {
        float:right;
        
    }

    .content
    {
            margin-top: 57px;
    }
    
body
{
    width: 100%;
}

    </style>
    
    
    

   


    <div class="container">

       <div id="panel" class="panel-invisible" style="
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
">
                    <div id="panel" class="panel">
                        <a class="panel-buttons" href="?url=user/profiles&id=<?php
                        if(isset($User_ID))
                        echo $User_ID
                        ?>">
                        <a class="panel-buttons" href="?url=user/profiles&id=<?php
                        if(isset($User_ID))
                        echo $User_ID
                        ?>"><h5>Můj profil</h5></a>
                        <a class="panel-buttons" href="?url=login/logout"><h5>Odhlásit</h5></a>
                        <a class="panel-buttons" href="?url=user/administration"><h5>Nastavení</h5></a>
                        <?php 
                        if(isset($_COOKIE["UserAdmin"]) && $_COOKIE["UserAdmin"] == 1)
                        {
                           echo '<a class="panel-buttons" href="?url=admin"><h5>Admin Okénko</h5></a>';
                        }
                        ?>
                    </div>
                    </div>
      <div class="masthead" style="z-index:2">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script async>
function loadnotifications(){$.ajax({url:"?url=notification/browser",method:"post",success:function(i){if(typeof i == "object")for(var o=0;o<i.rows.length;o++){var e=i.rows[o];notify=new Notification(e[1]+" vám poslal/a zprávu",{body:e[0],icon:"/uploads/images/Chattr-logo.png"})}}})}window.Notification&&("default"!==Notification.permission?window.setInterval(loadnotifications,6e4):Notification.requestPermission(function(i){"denied"==i&&alert("notifikace byly odmítnuty")}));var visible=!1;function makevisible(){0==visible?(document.getElementById("panel").className="panel-visible",visible=!0):(document.getElementById("panel").className="panel-invisible",visible=!1)} 
    </script>
           <a href="index.php"><img src="uploads/images/Chattr_logo.png" width="50" alt="logo Chattr." height="50" style="float:left;"></a>
           <div class="buttons">
           <div class="normal-buttons">
            <a class="navigation-button" href="index.php"><img alt="Domů" class="no-full" width="20px" height="20px" src="uploads/images/icons/home.png"><span class="only-full nav-full">Domů</span></a>
            <a class="navigation-button" href="?url=user/index"><img alt="Uživatelé" class="no-full" width="20px" height="20px" src="uploads/images/icons/Users.png"><span class="only-full nav-full">Uživatelé</span></a>
            <a class="navigation-button" href="?url=homepage/faq"><img alt="FAQ" class="no-full" width="20px" height="20px" src="uploads/images/icons/FAQ.png"><span class="only-full nav-full">FAQ</span></a></a>
            </div>
                
            
            <div class="profile-buttons">
                <a <?php
                if(isset($User_ID))
            
            
           {
                
                         echo "onclick='makevisible()'";
            
                      
           } else {
           echo "href='?url=login/login'";    
           } ?> class='profile navigation-button' ><?php 
            
            
            if(!isset($User_ID))
            {
            echo "Přihlásit se"; 
            }
            else
           {
                
                         echo $_COOKIE["UserData"];
            
                      
           }
            ?></a>
                
                <?php
        
           
            if(isset($User_ID))
            {
           
               
     
               
            echo '<a class=" navigation-button profile fr " href="?url=friend/index"><img class="no-full" width="20px" height="20px" src="uploads/images/icons/Chat.png"><span class="only-full nav-full">Chat</span>' ;
                if($FN !== "(0)")
                {
                    echo $FN;
                }
               echo  "</a>";
            //if($MNotifications->CountNotifications($User_ID)->row[0] != 0)
           // {
          //   echo "(" . $MNotifications->CountNotifications($User_ID)->row[0] . ")"  ; 
         //   }
   
               
            }
                        function make_CSRF_token() {
                
    $cstrong = True;
    $token = bin2hex(openssl_random_pseudo_bytes(128, $cstrong));
    $_SESSION["csrf_token"] = $token;
    dd($_SESSION["csrf_token"]);
    return $token;
    }
            ?>
              
              
            </div>
               </div>
          
          
        
          
        
      </div>
      <div onload="notifications()" class="content">
          