<script async>
function lettersOnly(input)
     {
         var regex = /<[^>]*>/gi;
         input.value = input.value.replace(regex,"");
     }
</script>
<style>
    textarea 
    {
height:100px;
resize:none;
width:250px;
    }
    
    h3
    {
        display:inline;
    }
    
.content
    {
        width:550px;
        margin-right:auto;
        margin-left:auto;
    }

</style>
<h1>Editovat profil</h1>
<form action="?url=login/edit" method="post" enctype="multipart/form-data">
    <h3>Nové Jméno : </h3><Input maxlength='50' onkeyup='lettersOnly(this)' type="text" placeholder="jméno" name="firstname" value="<?php echo $UserData->findUserData($User_ID)->row[1] ?>" required >
<br><br>
<h3>Nové Příjmení : </h3><Input maxlength='50' onkeyup='lettersOnly(this)' type="text" placeholder="příjmení" name="lastname" value="<?php echo $UserData->findUserData($User_ID)->row[2] ?>" required >
<br><br>
<h3>Nové Heslo : </h3><Input maxlength='64'  onkeyup='lettersOnly(this)' type="password" placeholder="heslo" name="password"  required >
<br><br>
<h3>Znovu Nové Heslo : </h3><Input onkeyup='lettersOnly(this)' maxlength='64' type="password" placeholder="heslo" name="re-password"  required >
<br><br>
<h3>Nové Datum narození : </h3> <Input onkeyup='lettersOnly(this)' type="date" min="1900-1-1"   placeholder="datum narozeni" value="<?php echo $UserData->findUserData($User_ID)->row[4] ?>" name="birthdate" required >
<br><br>
<h3>Profilový obrázek : </h3>  <input onkeyup='lettersOnly(this)' type="file" name="image" id="fileToUpload" required>
<br><br>
<h3>Email :</h3> <input type="email" onkeyup='lettersOnly(this)' maxlength='150' name="email" required value="<?php echo $UserData->findUserData($User_ID)->row[6] ?>">
<br><br>
<h3>Něco o mně :</h3> <textarea onkeyup='lettersOnly(this)' maxlength='400' name="UserInfo" required><?php echo $UserData->findUserData($User_ID)->row[7] ?></textarea>
<br><br>
<h3>Co nejraději děláte </h3><select name="interests">
    <option>Povídám si s práteli</option>
    <option>Hraji hry</option>
    <option>Programuji</option>
    <option>Jsem aktivní na sociálních sítích</option>
    <option>Stříhám/publikuji videa na internet</option>
</select>
<br><br>
<input type="hidden" name="csrf_token" value="<?php echo  make_CSRF_token() ?>">
<Input type="submit"   value="uložit změny"/>
</form>
<br>

