<style>
.content
    {
        width:350px;
        margin-right:auto;
        margin-left:auto;
    }
    </style>
    <?php 

if($loginStatus === 0)
{
 echo  "špatné jméno nebo heslo" ;
}
else
{
   echo "úspěšně přihlášen/a" . " " . $UserData->row[1] ." " . $UserData->row[2];
   echo"<meta http-equiv='refresh' content='1;url=/index.php'>";
   
}

?>

