<script async>
    window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>
<style>
    h3
    {
        display:inline;
    }
    
    .content
    {
        width:450px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<br>
<h1>Přihlásit se</h1>
<form action="?url=login/signin" method="post">
    <input type="hidden" name="csrf_token" value="<?php echo  make_CSRF_token() ?>">
<h3>Email : </h3><Input maxlength='150' type="text" placeholder="email" name="email" required >
<br><br>
<h3>Heslo : </h3><Input maxlength="64" type="password" placeholder="heslo" name="password" required >
<br><br>
<Input type="submit" name="LogIn" value="přihlásit se" required >
</form>
<br>
nebo se můžete <a href="?url=register/index">registrovat</a>
