<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    h6
    {
        display:inline;
    }
    h4
    {
        display:inline;
    }
    
     h2
    {
        display:inline;
    }
    
   
    .slc::-webkit-scrollbar
{
width:10px;
}

.slc::-webkit-scrollbar-thumb
{
border-radius:5px;
background:grey;
}
    
    .slc
    {
        width: 400px;
    margin-left: 60px;
    margin-top: 70px;
    display: inline-table;
    height: 300px;
      
    }
    
    .msc
    {
        width:100%;
        display:inline-block;
        margin-top:165px;
    }
    
    .nssb
    {
        cursor:pointer;
        text-align:center;
        color:#f2f2f2;
    }
    
    .content
    {
        display:flex;
    }
    
    .dci
    {
        display:none;
    }
    
    .dc
    {
        width:1366px;
        height:768px;
        margin-right:auto;
        margin-left:auto;
    }
    
    .dcv
    {
        background-image: url("uploads/images/game/background.png");
        margin:auto;
        display:inline-block;
    }
    .vi
    {
      display:block;  
    }
    .nssf
    {
       
            margin-right: 25%;
    margin-left: 25%;
        background-image: url("uploads/images/game/netbeans.png");
        width:664px;
        height:482px;
        display:inline-block;
        
        
    }
    
    
    
    .in
    {
        display:none;
    }
    
    .nsf
    {
            display: inline-table;
       margin-left: 200px;
    margin-top: 200px;
    }
    
    .uc
    {
         display: inline-table;
       margin-left: 50px;
    margin-top: 120px; 
    }
    
</style>
<script async>
    
      function update()
{
    
    
    
               $.ajax({
                  
                   url:"?url=sst/se",
                   method: "post",
                   success:function(data)
                   {
                      
                      alert(data);
                       
                   }
           
                  
              });
              $.ajax({
                  
                   url:"?url=sst/aru",
                   method: "post"
           
                  
              });
}
        
  window.setInterval(update, 900000 * Math.random());   
        
    
    function lsl()
    {
 if(visible == false)
       {
       document.getElementById('sl').className = " vi " ;
       visible = true; 
       $.ajax({
                  
                   url:"?url=sst/ls",
                   method: "post"
           ,
                   success:function(data)
                   {
                      
                      $("#slc").empty();
                      $("#slc").html(data);
                       
                   }
                   ,
                   error:function ()
                   {
                       console.log("Chyba");
                   }
              });
       }else
       {
          document.getElementById('sl').className = " in "  ;
          visible = false; 
       }
            
    }
    
     var visible = false;
            
            function ms()
     {
         var name = $("#sn").val();
         var type = $("#st").val();
         
         $.ajax({url:"?url=sst/ms" ,
                   method: "post",
                   data : {name:name,type:type,csrf_token:'<?php echo make_CSRF_token(); ?>'}
       });
     }
            
    function vi(did, cl = " ")
    {
       if(visible == false)
       {
       document.getElementById(did).className = cl + " vi " ;
       visible = true;
       }else
       {
          document.getElementById(did).className = cl + " in "  ;
          visible = false; 
       }
    }
       
function rw()
{
   //  var s2 = document.getElementById('rs');
   //  s2.innerHtml = "";
     vi('rf','nssf');
  ///  $.ajax({url:"?url=sst/rl" ,
       //            method: "post",
       //            success:function(data)
       //            {
                     
        //            for(var option in data){
	//	var pair = data[option].split("|");
	//	var newOption = document.createElement("option");
	//	newOption.value = pair[0];
	//	newOption.innerHTML = pair[1];
	//	s2.options.add(newOption);
                //<select id="rs">
                 
            // </select>
	//}
                       
     //              }
               
     //  });
}
    
function image()
{
    console.log("toto");
    setInterval(function() {document.getElementById("img").className = "in";document.getElementById("gd").className = "dcv dc";}, 4000);
}
</script>
<body onload="image()">
<div class="vi" id="img" >
<img width="320"  height="200" src="uploads/images/game/is2018.jpg">
</div>
    
<div id="gd" class="dci">
   
    <div class="msc">
        <a  class="normal-buttons nssb" onclick="lsl('sl')" id="nssb">Moje sítě</a>
        <br><br><br><br><br>
        <a  class="normal-buttons nssb" onclick="vi('nssf','nssf')" id="nssb">Nová sociální síť</a>/<a  class="normal-buttons nssb" onclick="rw()" id="nssb">Přidat vylepšení na sociální síť </a> 
    <div id="nssf" class="nssf in">
        <div class="nsf">
        
            <br><h3>Jméno sociální sítě </h3><input name="sn" type="text" id="sn" required>
            <br><h3>Typ sociální sítě </h3><select name="st" id="st" required>
  <option value="blog">Blog</option>
  <option value="natáčení">Natáčení videí</option>
  <option value="IT">IT</option>
</select><br><br>
            <input type="submit" onclick="ms()">
        
        </div>
        </div>
         <div id="rf" class="nssf in">
             <div class="uc">
            
             <div>
                 
             </div>
                 </div>
        </div>
        <div id='sl' class="in" style="  
       margin-left:35%;
        background-image: url('uploads/images/game/chrome.png');
        width:534px;
        height:414px;
        ">
            <div class="slc" id="slc">
                
                
            </div>
        </div>
        
    </div>
</div>
