<style>
.content
{
width:400px;
margin-right:auto;
margin-left:auto;
}
</style>
<h1>Často kladené otázky</h1>
<h2>1. Kde najdu všechny dostupné smajlíky ?</h2>
<p>Pokud kliknete <a href="?url=chat/smileys">
    ZDE</a> zobrazíte seznam všech smajlíků podporujících službou chattr.</p>
<h2>2. Kde najdu seznam změn provedených na webu?</h2>
<p>Pokud kliknete <a href="https://www.youtube.com/channel/UCdWaIpvcNtQYMcZYEOXgDjA">
    ZDE</a> zobrazíte kanál chattr.</p>
<h2>3. Kde najdu podporu?</h2>
<p>Můžete nám napsat na e-mail &#112;&#111;&#115;&#116;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#99;&#104;&#97;&#116;&#116;&#114;&#46;&#99;&#122; kde s vámi případné problémy vyřešíme.</p>