    
  <script async>
setTimeout(function(){csrf_token=document.getElementById('csrf_token').value},200);function deletecomments(Pid,Cid){$.ajax({url:'?url=post/deletecomments&id='+Pid+'&cid='+Cid,method:'post'});setTimeout(function(){loadcomments(Pid)},1000)}function addcomments(id){var content=$('#ComCon'+id).val();$.ajax({url:'?url=post/addcomments&id='+id,method:'post',data:{content:content,csrf_token:csrf_token}});setTimeout(function(){loadcomments(id)},1000)}function loadcomments(id){$.ajax({url:'?url=post/loadcomments&id='+id,method:'post',success:function(data){$('#comments'+id).empty();$('#comments'+id).html(data)}})}function lettersOnly(input){var regex=/<[^>]*>/gi;input.value=input.value.replace(regex,"")}function deletepost(id){$.ajax({url:'?url=post/deletepost&id='+id,method:'post',success:function(data){}})}var visible=!1;function like(id){$.ajax({url:'?url=post/Likepost&id='+id,method:'post',data:{csrf_token:csrf_token},success:function(data){$('#lo'+id).empty();$('#lo'+id).html(data)}})}</script>
<style>
    h3
    {
        display:inline;
    }
    
.content
    {
        width:620px;
        margin-right:auto;
        margin-left:auto;
    }

</style>
<head>
  <meta http-equiv="Content-language" content="cs"> <meta name="description" content="Začínající sociální síť . Můžete tu přidávat příspěvky a povídat si s kamarády, přidávat fotky z dovloené a možná si tu i nové přátele najít "></head>
<h1>Vítejte, </h1>
<?php 

if(!isset($User_ID))
{
echo "chcete se <a href='?url=login/login'>přihlásit</a> nebo se <a href='?url=register/index'>registrovat ?</a>";
}
else
{
    echo "<h1>" . $_COOKIE["UserData"] . "</h1>";
}

?>
<br>
<h2>Naposledy přidané příspěvky</h2>
<?php 
$PostsData = $PM->FLP();
if(isset($User_ID))
{
    echo "<form enctype='multipart/form-data' action='?url=post/addpost&id="  . $User_ID . "' method='post'> 
<input onkeyup='lettersOnly(this)' type='hidden' name='UserIDPosts' value=" . $User_ID . " >                    
<br> <textarea maxlength='400' onkeyup='lettersOnly(this)' name='PostMSG' placeholder='Napište příspěvek' rows='4' cols='58' ></textarea>
<br>
Pokud chcete nahrát obrázek vyberte ho zde<input type='file' name='image' id='image'>
<input type='submit' value='přidat příspěvek'>
<input type='hidden' id='csrf_token' name='csrf_token' value=" . make_CSRF_token() . ">
</form>";
    
}
$translate_table = file_get_contents("library/wordchange.json");
$translate_table = json_decode($translate_table,true);
     
for($i = 0; $i < count($PostsData->rows); $i++)
{
        
    if(strlen($PostsData->rows[$i][0]) > 100)
    {
        if(isset($PostsData->rows[$i - 1]))
        {  
            $actual_variable = $PostsData->rows[$i - 1];
            $PostsData->rows[$i - 1] = $PostsData->rows[$i];
            $PostsData->rows[$i] = $actual_variable;
        }
    }
}
     
foreach ($PostsData->rows as $PostsData->row)
{
    $post = $PostsData->row[0];
    $post = strtr( $post, $translate_table);
    $post = preg_replace('!(((f|ht)tp(s)?://)[-a-zA-Zа-яА-Я()0-9@:%+.~#?&;//=]+)!i', '<a rel="nofollow" href="$1">$1</a>', $post);
    echo "<a href='?url=user/profiles&id={$PostsData->row[1]}'>" . "<label>"  . $PostsData->row[4] . '</a>' . "</label> přidal/a příspěvek <br>" . $post ; 
    if($PostsData->row[3] != NULL)
    {
        echo "<br><img alt='{$PostsData->row[3]}' src='uploads/images/posts/{$PostsData->row[3]}'>";
    }
    if(isset($User_ID))
    {
echo "<br>";
  
   echo "<br><button class='like' onclick='like(" . $PostsData->row[5] .  ")' id='like-button'><div id='lo"  . $PostsData->row[5] ."'> ";
   if($LM->findlike($PostsData->row[5],$User_ID)->num_rows == 0)
   {
       echo "to se mi líbí " . $LM->findpostLikes($PostsData->row[5])->num_rows . "x";
   }else
   { 
       echo "už se mi to nelíbí " . $LM->findpostLikes($PostsData->row[5])->num_rows . "x";
   }
   echo "</div></button>";
    }
echo "<br> ";
echo "<br><h6><strong>příspěvek přidán " ;
    echo  $PostsData->row[2] ;
    echo"</strong></h6>" ;
    if(isset($User_ID))
    {
        echo '<button class="clickable like" onclick="loadcomments(' . $PostsData->row[5] . ')">komentáře</button><br>
    <div class="comments" id="comments' .  $PostsData->row[5]  . '"><textbox style="width:auto;max-width: 200px"></textbox></div>';
    }
}
 
?>