<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script async>
     
$("#message").on("keydown", function(e) {
    if(e.which === 13) { // enter key
        e.preventDefault(); // prevents linebreak
        // here you could add your submit call
        return false;
    }
});     
 
window.addEventListener("keydown", checkKeyPress, false);
// The parameters of the event listener are event, function to run, useCapture (optional).
// This event listener runs checkKeyPress function when a key is pressed down
// You can use keydown or keyup to check what key has been pressed or released


// this function checks to see if the letter 'a' key has been pressed
function checkKeyPress(key) {
 if (key.keyCode == "13") {
     if(!key.shiftKey)
     {
        key.preventDefault();
        post();
     }else
     {
        $("#message").val($("#message").val + "\n" + content.substring(caret, content.length));
        event.stopPropagation();
     }

 }
}
 

     
     function lettersOnly(input)
     {
         var regex = /<[^>]*>/gi;
         input.value = input.value.replace(regex,"");
     }
     
     function post()
     {
         var MSG = $("#message").val();
         $("#message").val(``);
if(MSG != "" && MSG != " " && MSG != `
`){
         $.ajax({url:"?url=chat/addmessage&id=<?php
                   echo $ID;
                   ?>" ,
                   method: "post",
                   data : {MSG:MSG,csrf_token:'<?php echo make_CSRF_token(); ?>'}
       });
       $("#message").val("");
       document.getElementById('message').value = '';
       }
     }
 
     
    function update()
{
    
    
    
          
              $.ajax({
                  
                   url:"?url=chat/rendermessage&id=<?php
                   echo $ID;
                   ?>",
                   method: "post"
           ,
                   success:function(data)
                   {
                      
                      $("#chat-messages").empty();
                      $("#chat-messages").html(data);
                       
                   }
                   ,
                   error:function ()
                   {
                       console.log("Chyba");
                   }
              });
          
     
  
    
    //$("#chat-messages").load("#chat-messages").fadeIn("slow");
}
        
  window.setInterval(update, 2500);   
        
        
   
    



        
        
        // call()
      //  {
      //      window.open("http://localhost:8080/social/?url=call/sound&id=<?= $MUser->FindUserData($ID)->row[0]  ?>","_blank","height=700,width=700");
     //   }
    </script>
<style>
   
 
    
  h6
    {
            font-size: 0.5em;
    }
    
.chat-messages::-webkit-scrollbar
{
width:10px;
}

.chat-messages::-webkit-scrollbar-thumb
{
border-radius:5px;
background:grey;
}
      
       .chat-form textarea
		{
			width:65%;
			float: left;
		
		}
    
    .chat 
    {
    margin-right: 8%;
    margin-left: 1%;
    width:55%;
        height: 70%;
    }



        .content
        {
         height:850px;
        }
        
        
      
.content
    {
       
        margin-left: auto;
        margin-right: auto;
    }
    
    
   
.friend-name
{
    margin-left:auto;
    margin-right:auto;
        width: 60%;
}
.friends
{
float:left;
width:25%;
margin-left:50px;
overflow-y: scroll;
overflow-x: auto;
height:75%;
}

.chat-messages
{
     overflow-x: hidden;
     overflow-y: scroll;
     height:75%;
}

.friends .friend p
{
margin: 0 0 10px 0 ;
}



.bubble 
{
text-decoration: none;

background:#fff;
padding:20px;
color:#222;
border-radius:3px;
margin-left:20px;
border-right: 2px solid gray;

}
 
.friends::-webkit-scrollbar
{
width:10px;
}

.friends::-webkit-scrollbar-thumb
{
border-radius:5px;
}


.bubble:hover
{

background:#f0f0f0;


}


.bubble-friend 
{

background:#f0f0f0;
padding:20px;
color:#222;
border-radius:3px;
margin-left:20px;
max-width: 35%;
float:left;

border-radius:10px;
    margin-right: 40%;
margin-bottom:10px;
word-wrap:break-word;
}



.bubble-user
{
word-wrap:break-word;

background:<?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
padding:20px;
color:#222;
border-radius:3px;
margin-right:20px;
max-width: 35%;
float:right;
 
border-radius:10px;
    margin-left: 40%;
margin-bottom:10px;
}


.bubble-user::after
{

display:block;
position:absolute;
right:-15px;
width:0;
top:15px;
height:0;
border-top:8px solid transparent ;
border-bottom:8px solid transparent ;
border-left:15px solid #FF771B;
}



.bubble-friend::after
{

display:block;
position:absolute;
left:-15px;
width:0;
top:15px;
height:0;
border-top:8px solid transparent ;
border-bottom:8px solid transparent ;
border-right:15px solid #f0f0f0;
}

.chat .message p
{
margin: 0 0 10px 0 ;
}

.chat
{
    
    float:left;
    
    
    background:#fff;
    
}

.chat-form
{
   
    height:10%;
    
}

.chat-form textarea
{
    
    margin:auto;
margin-left:5%;
height:65%;
resize:none;
font-size:16px;
}

.chat-form-drag 
{
    width : 75%;
height:75px;
border: 2px dashed #000;
color:#000;
line-height:300px;
text-align:center;
}

.chat-form [type=submit]
{
    background:#FF771B;
    border:none;
    padding: 5px 15px;
    border-radius:5px;
    box-shadow: 0px 3px 0 #C75100;
    font-size:24px;
    margin-top:2px;
}

   @media screen and (max-width: 720px)
        {                  
                           nav
        {
            padding-left:0px;
        }
        
        
         
        
        }
		
		@media screen and (max-width: 771px){
			input[type=submit] {
				width:18%;
				font-size: 14px !important;
			}
			
			.chat-form textarea {
				float: left;
				height: 45% !important;
			}
		}
		
		@media screen and (max-width: 644px){
			.chat {
				margin-right: 8% !important;
				margin-left: 8% !important;
				width: 80% !important;
			}
			
			.friends {
				display: inline-flex !important;
				float: none;
				width: 80% !important;
				margin-left: 8% !important;
				overflow-y: auto;
				overflow-x: scroll;
				height: auto !important;
			}
			
			.only-full {
				display: none;
			}
			
			.img-mobile {
				width: 35px;
				height: 35px;
			}
		}


</style>

<body>
    
    <div class='friends'>
        <h1 class="only-full">Přátelé</h1>
        
        
    <?php
    
    dd($Friends->rows);
    foreach ($Friends->rows as $Friends->row)
{
        echo 
    "<a href='?url=chat/index&id=" . $Friends->row[4] . "' style='text-decoration:none;'>" .
"<div class='comment bubble'><img alt=" . $Friends->row[5] . "_" . $Friends->row[6] . "  style='border-radius:50px;margin-right:10px;' width='38px' height='38px' src='" ;
if($Friends->row[9] != null)
{
echo "uploads/images/profiles/" . $Friends->row[9] . "' >";
}
else
{
echo "uploads/images/CHattr-profile.png' >";
}
echo "<span class='only-full'>" . $Friends->row[5] . " " . $Friends->row[6] . "</span>";
    if($MChat->ControlMessages($User_ID,$Friends->row[4])->row[0] != 0)
    {
       echo " (" . $MChat->ControlMessages($User_ID,$Friends->row[4])->row[0] . ")" ;
    }
    echo "</div></a>";
    
    }
    
    
    
    ?>
        

 


</div><div class="chat" ><?php  

           echo "<img style='border-radius:50px;float:left' width='50px' height='50px' src='" ;
if($MUser->FindUserData($ID)->row[5] != null)
{
echo "uploads/images/profiles/" . $MUser->FindUserData($ID)->row[5];
}
else
{
echo "uploads/images/CHattr-profile.png";
}
 echo "'>";   
    
     echo " <span style='height: 50px;'>" . $MUser->FindUserData($ID)->row[1] . " " . $MUser->FindUserData($ID)->row[2] . "<br><small>";
     if($IFA === 1)
     {
        echo "právě teď aktivní"; 
     }else
     {
          echo "nečinný"; 
     }
     echo "</small></span>";
     

 echo "</h1>"   ;
// echo  "<button onclick='call()'>Zavolat</button>"
         
     
    ?> 
   <hr style="margin-top:15px">
     <div class="chat-form" id="dropzone">
           
           
           <textarea onkeyup="lettersOnly(this)" placeholder="Začněte psát ..." maxlength="400" name="MSG" id="message" ></textarea>
           <input type="submit" id="submitbut" onclick="post()" >
           
           
          
           </div>
       <div id="chat-messages" class="chat-messages" onLoad="scrolldown()" >
       <?php
   
          ?>
       
            
       
       
        </div>
      
            </div>

 </body>

 



