<style >
    .content{
        width:350px;
        margin-left:auto;
        margin-right:auto;
    }
    
</style>  
<table border="2" cellpadding="5" cellspacing="4">
        
<tr><th>znaky</th><th>Smajlík</th></tr>
<tr><td>:)</td><td><img src='app/view/chat/smileys/happy.png' /></td></tr>
<tr><td>:(</td><td><img src='app/view/chat/smileys/sad.png' /></td></tr>
<tr><td>:D</td><td><img src='app/view/chat/smileys/yay.png' /></td></tr>
<tr><td><3</td><td><img src='app/view/chat/smileys/heart.png' /></td></tr>
<tr><td>;)</td><td><img src='app/view/chat/smileys/yeah.png' /></td></tr>
<tr><td>:angry:</td><td><img src='app/view/chat/smileys/angry(.png' /></td></tr>
<tr><td>:heart:</td><td><img src='app/view/chat/smileys/heart).png' /></td></tr>
<tr><td>:hmm:</td><td><img src='app/view/chat/smileys/hmm.png' /></td></tr>
<tr><td>:bored:</td><td><img src='app/view/chat/smileys/bored.png' /></td></tr>
<tr><td>:stmch_ache:</td><td><img src='app/view/chat/smileys/stmch_ach.png' /></td></tr>
</table>

