<script src='https://www.google.com/recaptcha/api.js'></script>
<script async>
function lettersOnly(input)
     {
         var regex = /<[^>]*>/gi;
         input.value = input.value.replace(regex,"");
        
     }
     
    
     
</script>
<style>
    h3
    {
        display:inline;
    }
    
    .content
    {
        width:450px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    
</style>

<br>

<h1>Registrovat se</h1>
<form action="?url=register/signup" method="post">
    <input type="hidden" name="csrf_token" value="<?php echo  make_CSRF_token() ?>">
<h3>Jméno : </h3><Input maxlength='50' onkeyup='lettersOnly(this)' type="text" placeholder="jméno" maxlenght="50" name="firstname" required >
<br><br>
<h3>Příjmení : </h3><Input maxlength='50' onkeyup='lettersOnly(this)' type="text" maxlenght="50" placeholder="příjmení" name="lastname" required >
<br><br>
<h3>Heslo : </h3><Input title="3 malá písmena, 3 velká písmena, 3 čísla 0-9, 3 speciální znaky # $ &" id="op" maxlength='64' onkeyup='lettersOnly(this)' type="password" placeholder="heslo" minlenght="8" name="password" required ><span id="op-er"></span>
<br><br>
<h3>Znovu Heslo : </h3><Input  title="3 malá písmena, 3 velká písmena, 3 čísla 0-9, 3 speciální znaky # $ &" id="rp" onkeyup='lettersOnly(this)' maxlength='64' name="re-password" type="password" placeholder="heslo" minlenght="8" required ><span id="rp-er"></span>
<br><br>
<h3>Datum narození  : </h3><Input onkeyup='lettersOnly(this)' type="date" min="1900-1-1"   placeholder="datum narozeni" name="birthdate"  required >
<br><br>
<h3>Email : </h3><input onkeyup='lettersOnly(this)' maxlength='150' type="email" name="email"  required >
<br><br>
<input  value="Informace o gdpr-souhlas dokument přiložen" type="checkbox" name="checkbox"  required >Informace o GDPR-souhlas dokument přiložen <a href="/gdpr-souhlas.pdf">zde</a>
<br><br>
<h3>Co nejraději děláte </h3><select name="interests">
    <option> </option>
    <option>povídám si s přáteli</option>
    <option>Hraji hry</option>
    <option>Programuji</option>
    <option>Jsem aktivní na sociálních sítích</option>
    <option>Stříhám/publikuji videa na internet</option>
</select>
<br><div class="g-recaptcha" data-sitekey="6LeiQFgUAAAAACt4EwylIJJ8V_WEJW3Do3TvZNJW"></div><br>
<br>
<Input id="sb" type="submit" name="register" value="registrovat se"/>
</form>
<br>
nebo se můžete <a href="?url=login/login">přihlásit</a>
