<script async>
    
    function creategroup()
    {
        var groupname = $("#groupname").val();
         $.ajax({url:"?url=chat/creategroup" ,
                   method: "post",
                   data : {groupname:groupname,csrf_token:'<?php echo make_CSRF_token(); ?>'},
                   success:function(data)
                   {
                      
                      alert(data);
                       
                   }
       });
       setTimeout(function(){location.reload();},100);
    }
    
    </script>
<style>
    h3
    {
        display:inline;
    }
    
    .content
    {
        width:500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
</style>
<h1>Potenciální Přátelé</h1>
<?php
if(isset($User_ID))
{
    dd("setnuto");
   $PFR = $MUser->findP("`Interests`",$MUser->find($User_ID)->row[8]);
if($PFR->num_rows != 0)
{
    dd("shoda");
    dd($PFR);
foreach($PFR->rows as $PFR->row)
{
    if($User_ID !== $PFR->row[0])
    {
    echo "<a href='?url=user/profiles&id=" . $PFR->row[0] . "'>" . $PFR->row[1] . " " . $PFR->row[2] . "</a><br>";
    }
}
}

}
?>
<h1>Návrhy na přátelství</h1>
<?php 
if($Requests->num_rows != 0 )
{
    dd($Requests);
foreach ($Requests->rows as $Requests->row)
{
    
   if($User_ID != $MUser->FindUserData($Requests->row[1])->row[1] . " " . $MUser->FindUserData($Requests->row[1])->row[2])
    {
    echo "<li><a href='?url=user/profiles&id=" . $Requests->row[1] . "'>" . $MUser->FindUserData($Requests->row[1])->row[1] . " " . $MUser->FindUserData($Requests->row[1])->row[2] . "</a></li> si vás chce přidat do přátel ". "<a href='?url=friend/acceptrequest&id={$Requests->row[0]}' class='button' >Přijmout</a> "
            
            .  "<a href='?url=friend/declinerequest&id={$Requests->row[0]}' class='button'>Odmítnout</a>"
           
            ;
    }
    
}
}
?>
<h1>Přátelé
<?php
echo "(" . $Friends->num_rows . ")";
echo "</h1>";
if($Friends->num_rows != 0)
{
    dd($Friends);
foreach ($Friends->rows as $Friends->row)
{
   
    
    echo "<li><a href='?url=chat/index&id=" .  $Friends->row[4] . "'>" . $Friends->row[5] . " " . $Friends->row[6];
     if($MChat->ControlMessages($User_ID,$Friends->row[4])->row[0] != 0)
    {
       echo " (" . $MChat->ControlMessages($User_ID,$Friends->row[4])->row[0] . ")" ;
    }     
    echo"</a>"; 
    
    }

}
?>
<h1>Skupiny</h1>


<?php 
$GroupMMR = $GroupMM->findusergroups($User_ID);
if($GroupMMR->num_rows >= 0)
{
foreach ($GroupMMR->rows as $GroupMMR->row) {
    echo "<li><a href='?url=chat/group&id=" .  $GroupMMR->row[1] . "' >" . $GroupMMR->row[0] . "<a/ > </li>";
}
}


?>
<h3>Vytvořit skupinu</h3>
<input type="text" id="groupname">
<input type="submit" value="vytvořit skupinu" onclick="creategroup()">
<input type="hidden" name="csrf_token" value="<?php echo make_CSRF_token(); ?>" onclick="creategroup()">


