<style>
    h3
    {
        margin:0;
    }
    
    .content
    {
        width:500px;
        margin-right:auto;
        margin-left:auto;
    }
    
    
    </style>
<h4>aby jste mohli tuto akci provést musíte se přihlásit</h4>

<?php
include "app/view/login/login.phtml";
?>