<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script async>
     function setDefaultcolor()
    {
        
    document.cookie = "color=#FF6700;";
    setTimeout(function(){location.reload;},100);
    }
    function setColor()
    {
        
    document.cookie = "color=" + $("#color").val() + "; expires=Thu, 18 Dec 2020 12:00:00 UTC;path=/";
    setTimeout(function(){location.reload;},100);
    }
      function setBackgroundDefaultcolor()
    {
        
    document.cookie = "backgroundColor=#f0f0f0;";
    setTimeout(function(){location.reload;},100);
    }
    function setBackgroundColor()
    {
        
    document.cookie = "backgroundColor=" + $("#Bcolor").val() + "; expires=Thu, 18 Dec 2020 12:00:00 UTC;path=/";
    setTimeout(function(){location.reload;},100);
    }
</script>
<style>
    
    .adm-button
    {
        padding-right: 150px;
    padding-left: 150px;
    white-space: nowrap;
    }
    
    .content
    {
        width:410px;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
<h1 style="text-align:center;">Správa profilu</h1>
<h2 style="text-align:center;">Profil</h2>
<a href="?url=login/startedit" class="button adm-button">Editovat profil</a><br><br>
<a href="?url=register/startdelete" class="button adm-button">Smazat profil</a>
<h1 style="text-align:center;">Zobrazení</h1>
<h2 style="text-align:center;">Nastavení barvy</h2>
<input type="color" id="color">
<input type="submit" value="nastavit barvu" onclick="setColor()">
<input type="submit" value="nastavit původní barvu" onclick="setDefaultColor()">
<br>
<input type="color" id="Bcolor">
<input type="submit" value="nastavit barvu pozadí" onclick="setBackgroundColor()">
<input type="submit" value="nastavit původní barvu pozadí" onclick="setBackgroundDefaultColor()">
<a href="?url=user/SendUserInformations" class="button adm-button">Stáhnout dokument o mých aktivitách na Chattru</a>
<br>
<p>Pokud vám to při načítání stránky s vašemi informacemi hodí chybu tak zkuste po nějaké době danou stránku refreshnout, popřípadě se obraťte na e-mail &#112;&#111;&#115;&#116;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#99;&#104;&#97;&#116;&#116;&#114;&#46;&#99;&#122;</p>
<a href="?url=user/GetUserMessagesCSV" class="button adm-button">Stáhnout .csv soubor obsahující zprávy</a><br>
<a href="?url=user/WE&id=1" class="button adm-button">Vypnout notifikace přes e-maily</a>
<a href="?url=user/WE&id=1" class="button adm-button">Zapnout notifikace přes e-maily</a><br>


