<style>
    .content
    {
        width:410px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .bubble 
{
    
text-decoration: none;

background:#fff;
padding:20px;
color:#222;
border-radius:3px;
margin-left:20px;
width:350px;
margin-bottom:10px;


}
     .bubble:hover
{
background-color:<?php 
        if(isset($_COOKIE["color"]))
            echo $_COOKIE["color"]; 
        else
            echo "#FF6700"; ?>;
-webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}


.users::-webkit-scrollbar
{
width:10px;
}

.users::-webkit-scrollbar-thumb
{
border-radius:5px;
background:grey;
}

.users
{
   overflow-y: scroll;
    overflow-x: hidden;
    height:500px;
}

</style>
<form method="post" action="?url=user/find">
    <input type="hidden" name="csrf_token" value="<?php echo  make_CSRF_token() ?>">
Hledat Uživatele : <br><br>
Jméno <input type="text" name="FirstName" ><br>
<br>
Příjmení <input type="text" name="LastName" >
<input type="submit" value="hledat">
</form>
<h1>
Uživatelé</h1>
<div class="users">
<?php

 

if($this->users != NULL)
{    
 
    foreach ($this->users->rows as  $this->users->row)
    {
        dd($this->users->row);
        echo "<a  href='?url=user/profiles&id=" .  htmlSpecialChars($this->users->row[0]) .  "'>"   . "<div class='bubble'>" .  htmlSpecialChars($this->users->row[1]) . " " .  htmlSpecialChars($this->users->row[2]) ."</div></a>";
     
    }
}

?>
</div>