
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script async>
      setTimeout(function(){ 
      csrf_token = document.getElementById('csrf_token').value ;},200);
     function deletecomments(Pid,Cid)
     {
      
           $.ajax({url:'?url=post/deletecomments&id=' + Pid + '&cid=' + Cid,
                   method: 'post'
                   
                   
                   
       });
     setTimeout(function(){ loadcomments(Pid);}, 1000);
     } 
      
     function addcomments(id)
     {
       var content = $('#ComCon' + id).val();
           $.ajax({url:'?url=post/addcomments&id=' + id ,
                   method: 'post',
                data : {content:content ,csrf_token:csrf_token}
                   
                   
       }); 
     setTimeout(function(){ loadcomments(id);}, 1000);
     }
      
     function loadcomments(id)
     {
          $.ajax({url:'?url=post/loadcomments&id=' + id ,
                   method: 'post',
                   
                   success :function(data)
                   {
                      $('#comments' + id).empty();
                      $('#comments' + id).html(data);
                      
                   }
                   
       }); 
     }
      
      
function lettersOnly(input)
     {
         var regex = /<[^>]*>/gi;
         input.value = input.value.replace(regex,"");
     }

      
      function deletepost(id)
      {
             
      $.ajax({url:'?url=post/deletepost&id=' + id ,
                   method: 'post',
                   
                   success :function(data)
                   {
                   
                   }
                   
       }); 
      }
      
      var visible = false;
   //   function makevisible()
 //   {
////       if(visible == false)
 //      {
 //      document.getElementById("psp").className = "psp-visible";
 //      visible = true;
 //      }else
 //      {
  //        document.getElementById("psp").className = "psp-invisible";
  //        visible = false; 
 //      }
 //   }
      
      function like(id)
      {
         
      $.ajax({url:'?url=post/Likepost&id=' + id ,
                   method: 'post',
                    data : {csrf_token:csrf_token},
                   success :function(data)
                   {
                   $('#lo' + id).empty();
                   $('#lo' + id).html(data);
                   }
                   
       });}
          </script>
<style>
    
    
    
    .comments
    {
        margin-left:35px;
        max-width:400px;
    }
    
    h6
    {
        display:inline-block;
    }
    
    .friends-bubble::-webkit-scrollbar
{
width:10px;
}

.friends-bubble::-webkit-scrollbar-thumb
{
border-radius:15px;
background:grey;
}
    
    .psp-invisible
    {
        display:none;
    }
    
    .psp-visible
    {
        display:block;
    }
    
    .psp {
    background-color: white;
    width: 200px;
   
    border-radius: 10px;
    padding: 5px;
    margin-right: 20px;
}
    
    h3
    {
        margin:0;
    }
    
    .content
    {
        
        width:75%;
        margin-right:auto;
        margin-left:auto;
        
    }
    
    
    
.UserInfo
{
    width:375px;
}

.friendsdiv::-webkit-scrollbar {
    width: 10px;
}

.friendsdiv::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: grey;
}

.friendsdiv
{
       display: inline-block; 
       height:200px;
       overflow-x: hidden;
       overflow-y: auto;
}

.like
{
      background:#FF771B;
    border:none;
    padding: 5px 15px;
    border-radius:5px;
    box-shadow: 0px 3px 0 #C75100;
    font-size:14px;
    margin-top:2px;
}

    </style>
    <?php
    if($UserData->row[5] == null )
    {
    $UserData->row[5] = "../CHattr-profile.png";
    }
        echo '
	<span style="position: relative;">
		<img width="120" height="120" style="float: left; margin-right: 12px; border: 2px solid white; border-radius: 50%;" src="uploads/images/profiles/' . $UserData->row[5] . '"/>';
        if($IFA === 1)
     {
            echo '<span style="min-width: 32px; min-height: 32px; background: green; color: green; position: absolute; right: 12px; margin-top: 90%; border-radius: 50%; border: 2px solid white;">A</span>';
        }
        
        echo '</span>';
    
        
   
   
    ?>
    
<?php 
echo " <span style=''>
		<strong style='display: inline; margin-bottom: 12px;'>" . htmlSpecialChars($UserData->row[1], ENT_QUOTES,"utf-8") . " " . htmlSpecialChars($UserData->row[2], ENT_QUOTES,"utf-8") . "</strong>
		<br>";
?>
 <?php 
echo "<small style='display: inline-block; margin: 3px;'>Datum narození : " . $UserData->row[4] . "</small>
		<br>";
?>
    <br>
    
        <?php
        if($UserData->row[7] != null)
        {
           echo "<span style='font-size: 12px;'>
			<span>Něco o mně:</span><br><span>{$UserData->row[7]}</span>";
        }
        ?>
    </span>
	</span>
    <hr>
<?php 
if(isset($User_ID))
{
if($Friends->ControlUserRequests($UserData->row[0],$User_ID)->num_rows == 0 && $UserData->row[1] . " " . $UserData->row[2] != $User_ID && $User_ID != $UserData->row[0])
{
 echo "<a href='?url=friend/friendrequest&id={$UserData->row[0]}' class='button'>Poslat návrh na přátelství</a>";          
}
}



if($FFriends->num_rows != 0 )
{
    echo "<br><h3 style='
    display: inline-block;'>Přátelé: </h3><p style='
    margin: 0px;
'><div class='friends-bubble' style='display: flex; overflow-x: auto; overflow-y: hidden;width:100%'>";
    foreach ($FFriends->rows as $FFriends->row)
    {
        
            echo "<a href='?url=user/profiles&id=" . $FFriends->row[4] . "'>"  .  "<div style='width: 100px; height: 100px; background: white; text-align: center; text-align: -webkit-center; margin: 3px; border: 1px solid darkgray; border-radius: 15px; padding: 4px; box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3)'><br><img src='" ;
       if($FFriends->row[9] != null)
       {
           echo "uploads/images/profiles/" . $FFriends->row[9] . "'";
       }else
       {
       echo "uploads/images/CHattr-profile.png'" ;
       }
          echo ' style="border-radius: 50%;" width="64px" height="64px"><br><span style="color: black; text-decoration: none;">' . $FFriends->row[5] . " " . $FFriends->row[6] . '</span>
	</div></a>';   
           
        
       
    }
   
    echo"</p></div><hr>";
}
if(isset($User_ID) && $Friends->ControlUserRequests($UserData->row[0],$User_ID)->num_rows != 0 && $Friends->ControlUserRequests($UserData->row[0],$User_ID)->row[3] == 1 )
{
    echo "<form enctype='multipart/form-data' action='?url=post/addpost&id="  . $UserData->row[0] . "' method='post'> 
<input onkeyup='lettersOnly(this)' type='hidden' name='UserIDPosts' value=" . $UserData->row[0] . " >                    
<br> <textarea maxlength='400' onkeyup='lettersOnly(this)' name='PostMSG' placeholder='Napište příspěvek' rows='4' cols='58' ></textarea>
<br>
Pokud chcete nahrát obrázek vyberte ho zde<input type='file' name='image' id='image'>
<input type='submit' value='přidat příspěvek'>
<input name='csrf_token' id='csrf_token' type='hidden' value=" . make_CSRF_token() . ">
</form>";

}
elseif(isset($User_ID) && $UserData->row[0] == $User_ID)
{
    echo "<form enctype='multipart/form-data' action='?url=post/addpost&id="  . $UserData->row[0] . "' method='post'> 
<input type='hidden' onkeyup='lettersOnly(this)' name='UserIDPosts' value=" . $UserData->row[0] . " >                    
<br> <textarea maxlength='400' onkeyup='lettersOnly(this)' name='PostMSG' placeholder='Napište příspěvek' rows='4' cols='58' ></textarea>
<br>
Pokud chcete nahrát obrázek vyberte ho zde<input type='file' name='image' id='image'>
<input type='submit' value='přidat příspěvek'>
<input type='hidden' id='csrf_token' name='csrf_token' value=" . make_CSRF_token() . ">
</form>";
    
}

dd($PostsData);
$translate_table = file_get_contents("library/wordchange.json");
      $translate_table = json_decode($translate_table,true);
foreach ($PostsData->rows as $PostsData->row)
{
        $post = $PostsData->row[0];
      
    
          $post = strtr( $post, $translate_table);
          
    $post = preg_replace('!(((f|ht)tp(s)?://)[-a-zA-Zа-яА-Я()0-9@:%+.~#?&;//=]+)!i', '<a rel="nofollow" href="$1">$1</a>', $post);
    echo "<label>" . $PostsData->row[4] . "</label> přidal/a příspěvek <br>" . $post ; 
    if($PostsData->row[3] != NULL)
    {
        echo "<br><img alt='{$PostsData->row[3]}' src='uploads/images/posts/{$PostsData->row[3]}'>";
    }
    if(isset($User_ID))
    {
echo "<br>";
  
   echo "<br><button class='like' onclick='like(" . $PostsData->row[5] .  ")' id='like-button'><div id='lo"  . $PostsData->row[5] ."'> ";
   if($LM->findlike($PostsData->row[5],$User_ID)->num_rows == 0)
   {
       echo "to se mi líbí " . $LM->findpostLikes($PostsData->row[5])->num_rows . "x";
   }else
   { 
       echo "už se mi to nelíbí " . $LM->findpostLikes($PostsData->row[5])->num_rows . "x";
   }
   echo "</div></button>";
    }
   
    echo "<br><h6><strong>příspěvek přidán " ;
    echo  $PostsData->row[2] ;
    echo"</h6></strong>" ; 
   if(isset($User_ID))
    {
        echo '<button class="clickable like" onclick="loadcomments(' . $PostsData->row[5] . ')">komentáře</button><br>
    <div class="comments" id="comments' .  $PostsData->row[5]  . '"><textbox style="width:auto;max-width: 200px"></textbox></div>';
    }
    echo "<br>";
}
?>

