<style>
    
    .adm-button
    {
        margin-right:25%;
        margin-left:25%;
    width:50%;
   text-align: center;
    white-space: nowrap;
    }
    
    .content
    {
        width:500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form
    {
        margin-left:35%;
        margin-right:35%;
        width:30%;
    }
    </style>
<h1 style="text-align:center;">Admin Okénko</h1>
<h2 style="text-align:center;">Uživatelé</h2>
<h2 style="text-align:center;">Smazat Uživatele</h2>
<form enctype='multipart/form-data' action="?url=admin/deleteuser" method="post">   
    <input type="hidden" value=" <?php echo  make_CSRF_token() ?>">
<input type='number' name="id" class="form">
<br><br>
<input class="form" type='submit' value='smazat uživatele'>
</form>
<h4>Zaregistrovaní uživatelé : <?php  echo $registeredUserCount?></h4> 
<h4> Aktivní uživatelé : <?php echo $activeUserCount?></h4>
<?php
foreach($AUnames->rows as $AUnames->row)
{
echo $AUnames->row[0] . "<br>";
}
?>